/* Spinner */
.loader-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #2e3436;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #2e3436;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #2e3436;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Pagination */
.pagination {
    display: inline;
}
    /* 前・次へ移動するボタン */
    .pagination .prev-page {}
    .pagination .next-page {}
        .pagination .prev-page button {}
        .pagination .next-page button {}

    /* 前・次へ移動するボタンの無効化時 */
    .pagination .prev-page.disabled {}
    .pagination .next-page.disabled {}
    .pagination .prev-page.disabled button {
        display: inline;
    }
    .pagination .next-page.disabled button {
        display: inline;
    }

    /* 最初・最後へ移動するボタン */
    .pagination .first-page {}
    .pagination .end-page {}
        .pagination .first-page button {}
        .pagination .end-page button {}

    /* 最初・最後へ移動するボタンの無効化時 */
    .pagination .first-page.disabled {}
    .pagination .end-page.disabled {}
        .pagination .first-page.disabled button {}
        .pagination .end-page.disabled button {}

    /* ページ別切り替えボタン */
    .pagination ul {}
    .pagination li {
        display: inline;
    }
            .pagination li a {}
        /* カレント時（現在位置） */
        .pagination li.current {}
            .pagination li.current a {}
        /* 省略記号 */
        .pagination li.ellipsis {}
            .pagination li.ellipsis span {}

    /* ページ情報（現在のページ番号と最大数） */
    .pagination .page-info {}
