<html>
  <head><title>Locate Server {{ .title }}</title></head>
    <body>

      <!-- GET method URI-->
      <form name="form1" method="get" action="/search">
        <!-- 検索窓 -->
        <input type="text" name="q" value="{{ .query }}" size="50" list="searched-words" >
        <!-- 検索履歴 Frecency リスト -->
        <datalist id="searched-words"> "{{ .datalist }}" </datalist>
        <!-- 検索ボタン -->
        <input type="submit" id="submit" value="search">
      </form>

      <!-- 折りたたみ展開ボタン -->
      <div onclick="toggleMenu('hidden-explain')">
        <a style="cursor:pointer;">▼ Show HELP</a> <!--// 折りたたみ展開ボタン -->
      </div>
      <!-- ここから先を折りたたむ -->
      <div id="hidden-explain" style="display:none;clear:both;">
      <!-- 検索ヘルプ -->
        <a href=https://github.com/u1and0/locate-server/blob/master/README.md>Official README</a><br>
          <small>
            {{ .explain }}
          </small>
      </div>
      <!-- 折りたたみここまで -->

      <!-- Database status -->
      <h4>
        <a href=/status>DB</a> last update: {{ .lastUpdateTime }}
      </h4>

      <!-- Search result -->
      <table id="result">
      </table>

    <script type="text/javascript" src="/static/distributeResult.js"></script>
    <script type="text/javascript" src="/static/tooltips.js"></script>
  </body>
</html>


