<html>
  <head><title>Locate Server {{ .title }}</title></head>
    <body>
      <!-- 折りたたみ展開ボタン -->
      <div onclick="obj=document.getElementById('hidden-explain').style; obj.display=(obj.display=='none')?'block':'none';">
      <a style="cursor:pointer;">▼ 検索ヘルプを表示</a>
      </div>
      <!--// 折りたたみ展開ボタン -->

      <!-- ここから先を折りたたむ -->
      <div id="hidden-explain" style="display:none;clear:both;">
      <!-- 検索ヘルプ -->
      <small> {{ .explain }} </small>
      </div>
      <!-- 折りたたみここまで -->

      <!-- GET method URI-->
      <!-- <form method="get" action="/search"> -->
        <!-- 検索窓 -->
        <input type="text" id="q" value="{{ .query }}" size="50" list="searched-words" >
        <!-- 検索履歴 Frecency リスト -->
        <datalist id="searched-words"> "{{ .datalist }}" </datalist>
        <!-- 検索ボタン -->
        <button onclick="main();">Search</button>
        <!-- <input type="submit" name="submit" value="Search"> -->
    <a href=https://github.com/u1and0/locate-server/blob/master/README.md>Help</a>
      <!-- </form> -->

      <h4>
        <a href=/status>DB</a> last update: {{ .lastUpdateTime }}
      </h4>

      <table id="result">
          <tr>
          </tr>
      </table>

    <script type="text/javascript" src="/static/distributeResult.js"></script>
  </body>
</html>


